.app {
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input-container {
  /* display: flex; */
}

input[type="text"] {
  /* border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 16px;
  transition: border-color 0.3s ease; */
}

input[type="text"]:focus {
  /* outline: none;
  border-color: #1abc9c; */
}

button {
  background-color: #1abc9c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #148f77;
}

.todo-section {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.todo-item span {
  font-size: 18px;
}

.todo-item div {
  display: flex;
  align-items: center;
}

.todo-item button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-item button:hover {
  background-color: #c0392b;
}

.todo-item button:last-child {
  background-color: #2ecc71;
}

.todo-item button:last-child:hover {
  background-color: #27ae60;
}
